<div class='panel panel-default'>
	<div class="panel-body">
		<h1> About us</h1>
		<p> I'm trying to figure out this ruby/rails shenanigans...deal w/it!<p>
	</div>

		<div class="panel-footer">
	<p>So why don't you go ahead and
	<%= link_to "Sign Up!!", new_user_registration_path, class: "btn btn-default" %></p>
		</div>
</div>
